@page "/user"
@inherits UserBase
@Message
<button @onclick="Insert">Insert button</button>
<a href="/insert">Insert href</a>
@if(users.Value is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Email</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in users.Value)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.Email</td>
                    <td><button @onclick="()=>Edit(item.Id)">Edit</button></td>
                   
                </tr>
            }
          

        </tbody>
    </table>
}